<!-- Tests whether javascript is active, otherwise redirects user -->

<noscript>
	<meta http-equiv="refresh" content="5; URL={{WEBROOT}}/no-javascript">
	<style type="text/css" media="screen">.javascript-required {display:none;}</style>
	<p id='noscript'>You do not have javascript enabled. In a moment you will be redirected to a page with instructions to enable JavaScript. If you are not redirected in five seconds, click <a href="{{WEBROOT}}/no-javascript">here</a>.</p>	
</noscript>