{% extends 'basic_layout.twig' %}

{% block title %}JavaScript Disabled{% endblock %}

{% block content %}
	<a href="{{GRADHOMEPAGE}}"><img src='{{GRADIMAGESPATH}}grad_logo.png' /></a>
	<h1>JavaScript Disabled</h1>
	<div id="forgot" style="width:auto">
		<div id="recoverForm">
			<div id="noscript" class="">
				<p>You do not have JavaScript enabled. JavaScript is required to interact with the forms in the UMaine Graduate School online application. If you need help turning JavaScript on, please refer to <a href="http://help.yahoo.com/kb/index?y=PROD_MSNG&amp;page=content&amp;id=DOC648" target="_blank">this help page</a>.</p>
			</div>
		</div>
	</div>
{% endblock %}
