{% extends 'pageLayout.twig' %}

{% block title %}JavaScript Disabled{% endblock %}
{% block pageTitle %}JavaScript Disabled{% endblock %}

{% block head %}
	<style type="text/css" media="screen">
	.javascript-required { 
		display:none;
	}
	</style>
{% endblock %}

{% block content %}
	<div id="noscript">
		<p>You do not have JavaScript enabled. JavaScript is required to interact with the forms in the UMaine Graduate School online application. If you need help turning JavaScript on, please refer to <a href="http://help.yahoo.com/kb/index?y=PROD_MSNG&amp;page=content&amp;id=DOC648" target="_blank">this help page</a>.</p>
	</div>
{% endblock %}
