{% extends 'account/forgottenLayout.twig' %}

{% block forgotten_title %}Reset Password{% endblock %}

{% block forgotten_head %}

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$("#recoverForm").validate({
		rules: {
			newPasswordConfirm: {equalTo: "#newPassword"},
		}
	});

	$("#recoverForm").validate();
});
</script>

{% endblock %}

{% block forgotten_description %}

<form method="post" class='shortForm' accept-charset="utf-8" id="recoverForm">

	<fieldset>
		<legend>Password Recovery</legend>

		<label for="create_password">
			<p class="title">new password</p>
			<input class="required" minLength="2" type="password" id='newPassword' name="newPassword" size="27"/>
		</label>

		<label for="create_password_confirm">
			<p class="title">confirm password</p>
			<input class="required" minLength="2" type="password" id='newPasswordConfirm' name="newPasswordConfirm" value="" size="27"/>
		</label>

		<div style="clear:both"></div>

		<p><input type="submit" value="Reset password"/></p>
	</fieldset>
</form>
	
{% endblock %}
