{% extends 'pageLayout.twig' %}

{% block title %}{% block forgotten_title %}{% endblock %}{% endblock %}
{% block pageTitle %}{{ block('forgotten_title') }}{% endblock %}

{% block head %}
	{% block forgotten_head %}{% endblock %}
{% endblock %}

{% block content %}
<div class='shortFormContainer center'>
	{% block forgotten_description %}{% endblock %}
</div>

{% endblock %}
