{% extends 'forgottenLayout.twig' %}

{% block forgotten_title %}Reset Password{% endblock %}

{% block forgotten_head %}

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
	$("#recoverForm").validate({
		rules: {
			new_password_confirm: {equalTo: "#new_password"},
		}
	});

	$("#recoverForm").validate();
});
</script>

{% endblock %}

{% block forgotten_description %}

<form action="<?= $_SERVER['PHP_SELF'] ?>" method="post" accept-charset="utf-8" id="recoverForm">
	<fieldset>
		<legend>Password Recovery</legend>

		<label for="create_password">
			<p class="title">new password</p>
			<input class="required password" minLength="2" type="password" name="new_password" id="new_password" value="" id="new_password" size="27"/>
		</label>

		<label for="create_password_confirm">
			<p class="title">confirm password</p>
			<input class="required password" minLength="2" type="password" name="new_password_confirm" value="" id="new_password_confirm" size="27"/>
		</label>

		<div style="clear:both"></div>

		<input type="hidden" name="email" value="<?= $email ?>" id="email"/>
		<input type="hidden" name="code" value="<?= $code ?>" id="code"/>
		<p><input type="submit" value="Reset password"/></p>
	</fieldset>
</form>
	
{% endblock %}
