{% extends 'account/forgottenLayout.twig' %}

{% block forgotten_title %}Password Reset{% endblock %}

{% block forgotten_description %}Your password has successfully been reset. Please click <a href="{{WEBROOT}}/">here</a> to log in.{% endblock %}

