{% extends 'forgottenLayout.twig' %}

{% block forgotten_title %}Forgot Password{% endblock %}

{% block forgotten_head %}
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#recoverForm").validate();
	});
</script>
{% endblock %}

{% block forgotten_description %}

<form action="{{WEBROOT}}/forgotten-password" method="post" accept-charset="utf-8" id="recoverForm">
	<fieldset>
		<legend>Password Recovery</legend>

		<label for="email">
			<p class="title">e-mail address</p>
			<input type="text" spellcheck="false" class="required email" name="email" id="email" size="27"/>
		</label>

		<div style="clear:both"></div>

		<input type="submit" value="Reset password"/>

		<p>If you have forgotten your password, please type your email address and click reset password.  You will receive an email with instructions to reset your password.</p>
	</fieldset>
</form>

{% endblock %}
