{% extends "pageLayout.twig" %}

{% block title %}Recommendation Submittal Successful{% endblock %}

{% block content %}
	<h1 style="text-align:center;">Your recommendation was submitted successfully.
	<br/>
	<p>Thank you for supporting the University of Maine's graduate mission!</p>
	<br/>
	<p>
	<a href="{{GRADHOMEPAGE}}">Click here to return to the Graduate School homepage</a>
	</p></h1>
	<br/>
	<br/>
{% endblock %}



				
