{% extends 'application/section.twig' %}
{% import "application/section.macro.twig" as section %}
{% import "forms.macro.twig" as forms %}

{% block form %}

<script>
 function setButtonDisplay(field, ref_online, ref_email_sent) {
 	if( ref_online == '0' ) {
	 	$(field).css('display', 'none');
 	}
 	if (ref_email_sent == '1') { 
 		$(field).addClass('email_sent');
	 	$(field).css('display', 'none'); 		 
 		$(field).parent().children("span.emailSentMessage").text("Email has been sent.");
 	}
 } 
 function requestRecommendation(button, reference) {
 	$.ajax({
 		url: 'scripts/email_reference.php',
 		type: 'POST', 		
 		data: 'reference=' + reference,
 		success: function(data) {
 			if ( data == "SUCCESS: Email Sent") { 
 				$(button).css('display', 'none');
		 		$(button).addClass('email_sent');
 				$(button).parent().children("span.emailSentMessage").text("Email has been sent.");
 			} else {
 				$(button).parent().children("span.emailSentMessage").text(data); 				
 			}
 		}
 	});
 }

 $(document).ready( function() {
 	$('.online-check').click(function () {
 		var button = $(this).parent().parent().parent().parent().children('button.sendEmail');
 		if( $(this).val() == '1' && !$(button).hasClass("email_sent") )  {
	 		button.css('display', 'block');
 		} else {
	 		button.css('display', 'none'); 			
 		}
 	});
 }); 
</script>
<form action="" method="post" id="recommendations" autocomplete="off">
<input type="hidden" id="user_id" value="{{USER}}"/>
<fieldset id="letters_of_recommendation" name="letters_of_recommendation">
	<legend>Letters of Recommendation</legend>
	<span class="required"><p>Fields marked with * are required.</p></span>
	<p class="message">Please list the contact information of three people whom you are requesting to send letters of recommendation. The letters of recommendation must be of recent date and written by people qualified, through personal experience with your academic work, to judge your capacity for advanced study. Recommendations must be sent directly from the recommenders to the Graduate School.</p>
	<fieldset id="viewing_rights" name="viewing_rights" class="nested">
		<legend>Waiver of Viewing Rights</legend>
		
		<label for="waive_view_rights">
			<p class="message">The Family Education Rights and Privacy Act of 1974 (P.L. 93-380) gives students access to information in their application files. However, to ensure the references will be free to write a candid letter of recommendation, an applicant may waive the right to see letters of reference.</p>

			{{ forms.boolean( {'title':'Please select an option below:',
					'name':'waiveReferenceViewingRights',
					'value':application.waiveReferenceViewingRights,
					'yesText': ' Yes, I wish to waive my right to see letters of reference.',
					'noText': ' No, I do not wish to waive my right to see letters of reference.',
					'isRequired': true
				} ) }}
		
		<div style="clear:both"></div>
	</fieldset><!-- end fieldset "viewing_rights" -->

	<div style="clear:both"></div>

	<div id='references'>
		{% for reference in application.references %}
			{% include 'repeatable/reference.twig' with {'reference' : reference} %}
		{% endfor %}
	</div>

	<div style='clear:both'></both>

	{{ section.addSubSectionButton('Add Another Reference', 'reference')}}

	{{ section.buildPager(true, true) }}

</form>

{% endblock %}
