	body {
		font-size: 16px;
	}

	fieldset {
	margin-left: 3px;
	margin-bottom: 10px;
	margin-right: 3px;
	margin-top: 1em;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
	padding-top: 2px;
	background: #b4c8cf;
	border-left:1px solid #9FAEB3;
	border-top:1px solid #9FAEB3;
	border-right: none;
	border-bottom: none;
	width:95%;
}

fieldset legend {
	font-weight: bolder;
	background: #b4c8cf;
	padding: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #95A4A8;
}

#forgot {
	width:50em;
}

textarea {
	width:47em;
	max-width:47em;
	height:20em;
}

td, th {
	border: 1px solid black;
}

table {
	font-size:.7em;
}

td, th {
	padding:4px;
	text-align:center;
}

tr:first-child, td:first-child {
	text-align:left;
}

#firstcell {
	border:none;
}

.note {
	font-size:.8em;
}

.important {
	color:#BC0000;
}

.radio-group-header {
	margin-top: 10px;
}

.radio-selection {
	display: inline-block;
	margin-right: 30px;
}
.radio-selection label {
	margin-left: 5px;
}

.col2, .col3 {
	margin-top: 10px;
}



input[type="submit"] {
	float:right;
}

h1 {
	left:100px
}