
/* =============================================================== */
/* = Top Level CSS
/* =============================================================== */

h1 {
	font-size:12px;
	font-weight:600;
}

h2 {
	font-size:8px;
	font-weight:bold;
}

p {
	padding-top: 0;
}

a {
	color:#333;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

p a {
	color:#008AA3;
}

p a:hover {
	color:#008AD6;
	text-decoration:underline;
}

h1 a {
	color: #008AA3;
	text-decoration: none;
	font-size:11px;
}

h1 a:hover {
	color:#008AD6;
	font-size:11px;	
}

ul,li {
	list-style: disc;
	margin-left: 1em;
}

li {
	list-style: disc;
	margin-bottom: 2px;
}


.text_link {
	color:#3333ff;
}

.content {
	width: 1000px;
	margin: 0 auto;
	height:100%;
}


/* =============================================================== */
/* = Progress and Sections in Sidebar
/* =============================================================== */

#progress {
	min-height: 30px;
	background-color:#dfe9ed;
	padding: 8px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
}

#progress #error_list {
	color:#ad5147;
	font-weight:bold;
}

#progress .error_link {
	color:#547DBE;
	font-weight:normal;
}

#sections .isection {
	background-position: 6px 50%;
	padding: 8px 5px;
	height: 4em;
	margin: 5px;
	background-color: #B4C8CF;
	background-repeat: no-repeat;
	font-size: 13px;
	font-weight: bold;
}

#sections .isection a {
	display: block;
	height: 100%;
	margin-left: 56px;
	padding-top: 4px;

}

#sections .isection:hover {
	background-color: #d0e6ee;
}

#sections .active {
	background-color: #dfe9ed;
	margin-right: -10px;
}
/* ---------------------- */
/* - Section Images
/* ---------------------- */

.section-icon-personal-information { background-image: url('/views/images/icon-personalInformation.png'); }
.section-icon-international { background-image: url('/views/images/icon-international.png'); }
.section-icon-educational-history { background-image: url('/views/images/icon-educationalHistory.png'); }
.section-icon-educational-objectives { background-image: url('/views/images/icon-educationalObjectives.png'); }
.section-icon-letters-of-recommendation { background-image: url('/views/images/icon-lettersOfRecommendation.png'); }



/* =============================================================== */
/* = Form
/* =============================================================== */

.required {
	color: #ad5147;
	font-weight: bolder;
}

.warning {
	color: #ad5147;
	font-weight: bolder;
	float:left;
}

#disclaimer, #terms {
	padding:12px;
}

#terms {
	margin-bottom:12px;
}


#form_pane {
	margin-left:315px;
	background:#DFE9eD;
	height: 100%;
	text-align:top;
	padding:5px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	min-height: 500px;
}

#submission_mainbody {
	width: 600px;
	margin: 0 auto;
}

#submission_pane {
	background:#DFE9eD;
	height:100%;
	text-align:top;
	padding:20px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	font-size: 1.0em;
}


#save_button {
	float:right;
}


textarea {
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
	display:block;
	margin:2px 6px 6px;
	resize: vertical;
}

fieldset {
	margin:10px;
	padding:10px;
	border:1px solid black;
}


fieldset.radio {
	width: 4em;
}

legend {
	font-size:17px;
}

input {
	margin-top: 2px;
	margin-right: 3px;
	margin-bottom: 2px;
	clear:none;
}

#accept_terms {
	display:inline;
}

label {
	float:left;
	clear:none;
	height:100%;
	min-height:30px;
	margin-right: 10px;
	margin-top: 3px;
}


p label {
	margin:0px;
	float: left;
	display: block;
}

.nested {
	clear: both;
	float: left;
	margin-left: 3px;
	margin-bottom: 10px;
	margin-right: 3px;
	margin-top: 3px;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
	padding-top: 2px;
	background: #b4c8cf;
	border-left:1px solid #9FAEB3;
	border-top:1px solid #9FAEB3;
	border-right: none;
	border-bottom: none;
	width:95%;
}

.help {
	color: gray;
}


.message {
	margin-top: 8px;
	margin-bottom: 8px;
}

.nested legend {
	font-weight: normal;
	background: #b4c8cf;
	padding: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #95A4A8;
}

.nested fieldset {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border: 1px solid #6F7A7D;
}

.nested fieldset legend {
	border: 1px solid #6F7A7D;
}

fieldset fieldset legend {
	font-weight: normal;
}

.one_line2 {
	min-height:0px;
	margin-right:35em;
}

.one_line {
	display: inline;
	min-height:0px;
}

form [type="radio"] {
	display:inline;
}

form [type="checkbox"] {
	display:inline;
}

#submit_app, #sign_out {
	display:inline;
}

#submitPayNow, #submitPayLater{
	padding:3px;
	display: inline;
}

.filename, .status{
	font-family:Arial; padding:5px;
	font-weight:bold; 
	font-size:0.9em;
	color:#333333;
}

#link-my-applications {
	position: absolute;
	top: -20px;
}


#save-command
{
	float: right;
}

#review-application, #sign-out {
	float: left;
}

#error_list a {
	color: #547DBE;
	font-weight: normal;
}

/* ---------------------- */
/* - Saving Fields
/* ---------------------- */

#pager {
	width:94%;
	height:15px;
	text-align:center;
	padding:0px 0px 10px 20px;
}

.chevron {
	font-size:.8em;
}
.error {
	color: #ad5147;
}

.error_wrapper {
	z-index: 10;
	background: transparent url('/../views/images/msg_arrow.gif') no-repeat scroll left center;
	padding-left: 7px;
	max-height: 80px;
	display: block;
}

div.error {
	font-weight: bold;
	background-color:#F3E6E6;
	border-color: #924949;
	border-style: solid solid solid none;
	border-width: 2px;
	padding: 5px;
	display: block;
}


/* ---------------------- */
/* - Pager
/* ---------------------- */

#pager {
	width:94%;
	height:15px;
	text-align:center;
	padding:0px 0px 10px 20px;
}

.chevron {
	font-size:.8em;
}



span.emailSentMessage {
	font-weight: bolder; 
	color: red;
}


/* ---------------------- */
/* - Upload
/* ---------------------- */

.upload {
	clear:both;
	margin:10px 0px; 
	padding:15px;
	font-weight:bold; 
	font-size:1.0em;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background:#f2f2f2;
	color:#3366cc;
	border:1px solid #ccc;
	width:150px;
	cursor:pointer !important;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px;
}

.upload_container {
	clear: both;
	padding: 20px 0;
}


/* ---------------------- */
/* - Review
/* ---------------------- */
#content-section-review #personalInfo {
	margin: 8px auto 30px;
}

#content-section-review .personalItem {
	width: 100%;
	display: table-row;
}

#content-section-review .personalLabel {
	width: 25%;
	font-size: 1.5em;
	display: table-cell;
}

#content-section-review .personalValue {
	width: 75%;
	font-size: 1.7em;
	display: table-cell;
}

.program {
	margin-bottom: 1em;
	font-size: 1.2em;
	padding: 5px 8px;
	background-color: #b4c8cf;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	margin-bottom: 5px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-topleft: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
}

.programNote {
	vertical-align: middle;
	text-align: center;
	float: left;
	width: 19%;
	height: 100%;
}

.programName {
	width: 59%;
	height: 100%;
	float: left;
	font-size: 12px;
	font-weight: bold;
}

.totalCost {
	vertical-align: middle;
	text-align: center;
	width: 19%;
	height: 100%;
	margin-left: 80%;
	font-weight: bold;
}